/* * {
    outline: 1px solid #0ff;
} */

.Wrap {
    position: relative;
}

#Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    min-width: 1900px;
    /* fixed라서 min-width를 header에 주기 */
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 77px;
    transition: 0.7s;
    z-index: 999;
}

#Header.on {
    background: #000;
}

#Header .Gnb ul {
    display: flex;
    gap: 30px;
}

#Header h1 {
    width: 300px;
}

#Header .tel {
    width: 300px;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
}

#Header .tel i {
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-size: 13px;
    border-radius: 50%;
    transform: translateY(-5px);
    margin: 0 10px 0 0;
}

#MainVisual .MainSlider figure {
    height: 100vh;
    background: lightblue;
}

#MainVisual .MainSlider .itm01 {
    background: url(../img/bg_intro01.jpg) no-repeat center center/cover;
}

#MainVisual .MainSlider .itm02 {
    background: url(../img/bg_intro02.jpg) no-repeat center center/cover;
}

#MainVisual .MainSlider .itm03 {
    background: url(../img/bg_intro03.jpg) no-repeat center center/cover;
}

#MainVisual .swiper-pagination {
    bottom: 100px;
}

#MainVisual .swiper-pagination span {
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background: #333;
    opacity: 1;
}

#MainVisual .swiper-pagination span.swiper-pagination-bullet-active {
    background: #f00;
}